[global_config]
  title_use_system_font = False
  title_font = Barlow Bold 8
  putty_paste_style = True
[keybindings]
[profiles]
  [[default]]
    cursor_color = "#00ff00"
    cursor_color_fg = False
    font = SauceCodePro NF 14
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    use_system_font = False
    copy_on_selection = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
